*{
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
}
body{
  background: url(../img/food.png) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.esascold{
  width: 1200px;
  margin: 30px auto;

  }
li {
    list-style-type: none;}
.milkshake,
.frappe,
.frozen,
.lemonade,
.icedtea,
.mojito,
.others{
  width: 400px;
  float: left;
  padding-top: 20px;
  

}
.others{

}
@media (max-width:1200px) {
  .esascold{
    max-width: 970px;
    margin-left: 300px;
  }
}
@media (max-width:992px) {
  .esascold{
    max-width: 750px;
  }
}
h3{
  color: #810000;
}
