*{
font-family: 'Baloo 2', cursive;
margin: 0;
padding: 0;
}
Body{
  background: url(../img/food.png) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.obsiy_hot{
  width: 1200px;
  margin: 30px auto;
}
li {
    list-style-type: none;
  }

.hot_classics,
.hot_teacups,
.hot_teapots,
.hot_specials{
  width: 600px;
  float: left;
}
 @media (max-width:1200px) {
   .obsiy_hot{
     max-width: 970px;
     margin-left: 230px;

   }
 }
 @media (max-width:992px) {
   .obsiy_hot{
     max-width: 750px;
   }
 }
 h3{
   color: #810000;
 }
